@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Hi+Melody&family=Nanum+Gothic:wght@400;700;800&display=swap');

h1{
    font-family: 'Dokdo'; font-size: 72px;
}
h2{
    font-family: 'Hi Melody'; font-size: 56px;
}
h3{
    font-family: 'Nanum Gothic'; font-size: 48px; font-weight: 800;
}
/*  ? font-family는 font의 종류를 설정 */

p{
    font-family: 'Nanum Gothic'; font-size: 14px;
}
p.letter{
    letter-spacing: 10px;
}
/*  ? letter-spacing: 자간 */
p.word{
    word-spacing: 10px;
}
/*  ? word-spacing: 단어간격(space bar 기준)
    ? 대체적으로 글자가 특정 공간에서 떨어져야 할 때 간혹가다 사용
    ?   -> ex_동해물과 백두산이 마르고
    ?         닳도록
    ?   -> 이런 식으로 단어가 애매하게 떨어져야 할 때 사용 */

p[class^='w_']{
    border: 1px solid red; width: 150px;
}
/*  ? [class^='className']을 입력하면 className에서 앞쪽에 공통된 단어를 모두 잡아줌 */
p.w_normal{
    white-space: normal; line-height: 21px;
}
p.w_nowrap{
    white-space: nowrap; text-overflow: ellipsis; overflow-x: hidden;
}
/*  ? white-space: normal - 기본값으로 설정(글자가 width에 갇히면서 다 보여짐)
    ? white-space: nowrap - 컨텐츠를 묶어놓는 게 wrapping인데 랩핑을 안하겠다는 것

    ? text-overflow: clip - nowrap을 썼을 때 텍스트박스 안까지만 보여줌(내용이 뚝 끊김)
    ? text-overflow: ellipsis - white-space: nowrap을 썼을 때 텍스트박스 안까지만 보여주기는 하나
    ?                            뒤에 내용이 더 있다는 걸 ...을 붙이면서 알려줌

    ? overflow: hidden - 이 속성값을 써야 text-overflow가 정상적으로 적용 됨(내용숨김)
    ? overflow: scroll - 텍스트박스 안 까지만 보여주지만 그 뒤 내용을 볼 수 있게 스크롤이 적용
    ?                    (가로, 세로 스크롤이 모두 적용됨)
    ? overflow-x: scroll - 스크롤이 가로에만 적용됨(세로는 overflow-y: scroll) */

.v_alignTest span{
    vertical-align: 150%;
}
.v_alignTest img{
    vertical-align: middle;
}
/*  ? vertical-align은 inline속성 태그에 넣으면 적용되지 않음
    ?   -> 단, %로는 적용시킬 수 있음
    ? inline속성 옆에 규격을 가지고 있는 태그에 적용하면 가능 */
/*
    * baseline: 문자의 밑선에 맞추어 정렬
    * middle: 문자의 중앙을 기준으로 해서 정렬
    * sub : 아래첨자
    * super : 위 첨자
    * text-top:문자의 윗선을 밑선으로 해서 정렬
    * top: 위쪽에 정렬
    * bottom : 아래쪽 정렬
    * % : 퍼센트로 정렬 위치를 지정
*/	