body{
    margin: 0;
}
.durationEX1{
    width: 100px; height: 100px; background-color: #ff0;
    transition-duration: 0.75s;
}
.durationEX1:hover{
    width: 200px; height: 200px;
}
.durationEX1:active{
    background-color: #f00;
}
.durationEX2{
    width: 200px; height: 200px; font-size: 16px;
    background-color: #ff6a00; padding: 30px; transition-duration: 2s;
}
.durationEX2:hover{
    padding: 10px; font-size: 12px;
}
/*  ? font-size, line-height는 줄어들 수 있는 만큼 줄어들다가
    ?   표현할 수 있는 최소값 밑으로는 갑자기 사라짐(line-height는 전혀 안됨) */
.durationEX2:active{
    padding: 30px; font-size: 20px;
}
.durationEX3{
    position: relative; height: 23px; background-color: #888;
    margin-bottom: 50px;
}
.durationEX3 .moveSpan{
    display: block; background-color: #000; width: 3%;
    height: 23px; position: absolute; left: 0; top: 0;
    transition-duration: 3s;
}
.durationEX3:hover .moveSpan{
    left: 97%;
}
/*  ? moveSpan에 left: 100%를 줬을 경우에는 moveSpan의 좌측면을 끝에
    ?   붙이겠다는 의미가 되기 때문에 컨테이너를 벗어나게됨
    ?   -> so, moveSpan의 width: 3%를 뺀 나머지 97%를 left값으로 주어야 딱 맞게 도착 */

.durationEX4{
    width: 50%; height: 250px;
    border-width: 5px;
    border-style: solid;
    border-color: #ff0000 #ff7700 #ffff00 #00ff00;
    transition-duration: 2s;
}
.durationEX4:hover{
    
}